@()
@import helper._
 @views.html.main("Websockets test") {
<script type="text/javascript">

clear = function(){$('#notification').html("")}
$('body').on('submit', '#delayForm' , function(e) {
	  e.preventDefault();
	  $.post( $(this).attr('action'), $(this).serializeArray(), function(data) {
		  $('#notification').html(data)
		setTimeout(clear, 4000)

	  });
	});
$(function() {
	connect = function(ws) {
			ws.onopen = function() {
				$('#connect').attr("disabled", true)
				$('#disconnect, #message, #send').attr("disabled", false)
				writeMessage("Connected")
			}
			ws.onclose = function() {			
				$('#connect').attr("disabled", false)
				$('#disconnect, #message, #send').attr("disabled", true)
				writeMessage("Disconnected")
			}
			ws.onmessage = function(msg) {
				writeMessage(msg.data)
			}
	}		
		address = "ws://localhost:9000/connect"
		ws = new WebSocket(address);
		connect(ws)
		$('#connect').click(function() {
			if (ws) {
				ws.close()
			}
			ws = new WebSocket(address);
			connect(ws)
			})
		$('#disconnect').click(function() {
			if (ws) {
				ws.close()
			}
		})
		$('#send').click(function() {
			if (ws) {
				msg = $('#message').val()
				writeMessage("--->" + msg)
				ws.send(msg)
			}
		})

		function writeMessage(msg) {
			$('#messages').append(msg + "\n").scrollTop(
					$('#messages')[0].scrollHeight)
		}

	})
</script>

<div id="websocket-controls" class="side-column">
	<fieldset>
			<legend>Connect Websockets</legend>	
		<button id="connect">Connect</button>
		<button id="disconnect" disabled="disabled">Disconnect</button>
	</fieldset>
	<p>
	<form id="delayForm" action="/sendDelay">
		<fieldset>
			<legend>Send Delay Event</legend>		
			<label>Train Id</label> 
			<select name="trainId">
				<option>ic100</option>
				<option>ic101</option>
				<option>ic020</option>
				<option>spr121</option>
				<option>ice004</option>
			</select><br/> 
			<label>Delay in minutes</label>
			<input type="number" name="delay" size="2" maxLength="3"  style="width: 25px;" /><br/> 
			<input type="submit" value="Send" style="width: 44px;" />			
			<div id="notification"></div>
		</fieldset>
		
	</form>
	
	</p>
	<fieldset>
	<p>
		<label>Websocket Message</label>
		<textarea id="message" disabled="disabled"></textarea>
	</p>
	<p>
		<button id="send" disabled="disabled">Send</button>
	</p>
	</fieldset>


</div>
<div class="main-column">
	<textarea id="messages"></textarea>
</div>
}
